@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --purple: #5280e2;
  --green: #15cdcb;
  --bg-dark: #212226;
  --light-grey: E0DEDE;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background: var(--bg-dark);
}

body,
button,
input,
select,
textarea {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

h1 {
  font-size: 44px;
  margin-top: 0;
  margin-bottom: 32px;
}

h2 {
  font-size: 24px;
  margin: 0;
}

p {
  color: var(--light-grey);
}

button {
  background: var(--purple);
  border: 0;
  border-radius: 15px;
  padding: 8px 35px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.title-purple {
  color: var(--purple);
}

.title-green {
  color: var(--green);
}

header {
  height: calc(100vh - 65px);
  display: flex;
  align-items: center;
}

header .container {
  width: 50%;
  padding: 0 100px;
  height: fit-content;
}

header .container .logo {
  display: none;
}

header .container button {
  margin-top: 40px;
}

nav {
  height: 65px;
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  position: sticky;
  top: 0;
  background: var(--bg-dark);
  z-index: 99;
}

.logo {
  width: fit-content;
  border-left: 4px solid var(--purple);
  padding: 8px 0 8px 10px;
  font-size: 24px;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav ul a {
  font-size: 24px;
  color: var(--green);
  text-decoration: none;
}

nav ul a svg {
  display: none;
}

.about-me {
  display: flex;
  padding: 100px;
}

.about-me .container {
  width: 50%;
  padding-right: 50px;
}

.about-me .img-container {
  width: 50%;
  text-align: center;
  position: relative;
}

.about-me .img-container img {
  width: 60%;
  height: 100%;
}

.about-me .img-container .line {
  border: 1px solid var(--purple);
  width: calc(70% + 50px);
  height: calc(100% + 50px);
  position: absolute;
  top: -25px;
  left: calc(50% - 70% / 2 - 25px);
}

.about-me .img-container .line.green {
  transform: rotate(-3.3deg);
  border: 1px solid var(--green);
}

.services {
  text-align: center;
  margin: 160px 0 180px;
  padding: 0 100px;
}

.services-container,
.portfolio-container {
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
  max-width: 1200px;
  margin: 60px auto 0;
}

.services .services-container .service-card {
  background: #2f3034;
  border: 1px solid var(--purple);
  border-radius: 16px;
  padding: 40px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  max-width: 360px;
}

.service-card + .service-card {
  margin-left: 10px;
}

.services .services-container .service-card img {
  margin: 15px 0 40px;
  width: 90px;
}

.portfolio {
  height: 800px;
  padding: 0 100px;
  margin-bottom: 100px;
  text-align: center;
  background: url("assets/portfolio-bg.png");
}

.portfolio .portfolio-container {
  margin-top: 130px;
}

.portfolio .portfolio-container .portfolio-card {
  background: radial-gradient(
    100% 100% at 0% 0%,
    rgba(255, 255, 255, 0.33) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(42px);

  border: 1px solid #fff;
  border-radius: 16px;
  max-width: 360px;
  text-align: left;
  padding: 50px 25px;
}

.portfolio-card + .portfolio-card {
  margin-left: 10px;
}

.portfolio .portfolio-container .portfolio-card .img-container {
  margin: 0 25px 50px;
}

.portfolio .portfolio-container .portfolio-card .img-container img {
  width: 100%;
}

.portfolio .portfolio-container .portfolio-card .language-container {
  margin-bottom: 20px;
}

.portfolio .portfolio-container .portfolio-card .language-container ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.portfolio .portfolio-container .portfolio-card .language-container ul li {
  color: var(--green);
  border: 1px solid var(--green);
  border-radius: 16px;
  padding: 3px 15px;
}

.portfolio-card .language-container ul li + li {
  margin-left: 10px;
}

.portfolio-card p {
  margin: 0;
  font-size: 18px;
}

.portfolio-card p + p {
  font-size: 16px;
}

/* RESPONSIVIDADE */

/* small desktop */
@media (max-width: 1000px) {
  header .container {
    width: 100%;
  }

  nav {
    padding: 0 40px;
  }

  nav ul a {
    font-size: 18px;
  }

  .about-me {
    flex-direction: column;
  }

  .about-me .container,
  .about-me .img-container {
    width: 100%;
  }

  .about-me .container {
    padding-right: 0;
  }

  .about-me .img-container {
    margin-top: 70px;
  }

  .services,
  .portfolio {
    padding: 0;
  }

  .services .services-container,
  .portfolio .portfolio-container {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .services .services-container .service-card {
    height: 394px;
  }

  .service-card + .service-card,
  .portfolio-card + .portfolio-card {
    margin-left: 0;
    margin-top: 30px;
  }

  .portfolio {
    height: 100%;
  }
}

/* tablet */
@media (max-width: 767px) {
  header .container .logo {
    display: block;
    margin-bottom: 70px;
  }

  nav {
    display: flex;
    padding: 0 30px;
  }

  nav .logo {
    display: none;
  }

  nav ul {
    padding: 0;
  }

  nav ul a {
    font-size: 16px;
  }
}

/* celular */
@media (max-width: 480px) {
  body {
    margin-bottom: 115px;
  }

  header .container {
    padding: 0 32px;
  }

  nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 0 16px;
    top: unset;
  }

  nav ul a {
    font-size: 12px;
  }

  nav ul a svg {
    display: block;
    margin: 0 auto 10px;
  }

  .about-me {
    padding: 40px;
  }

  .portfolio {
    margin: 100px 0 50px;
  }

  .services-container,
  .portfolio-container {
    padding: 0 20px;
  }

  .portfolio .portfolio-container {
    margin-top: 70px;
  }
}
