@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --purple: #5280e2;
  --green: #15cdcb;
  --bg-dark: #212226;
  --light-grey: E0DEDE;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background: var(--bg-dark);
}

body,
button,
input,
select,
textarea {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

h1 {
  font-size: 44px;
  margin-top: 0;
  margin-bottom: 32px;
}

h2 {
  font-size: 24px;
  margin: 0;
}

p {
  color: var(--light-grey);
}

button {
  background: var(--purple);
  border: 0;
  border-radius: 15px;
  padding: 8px 35px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.title-purple {
  color: var(--purple);
}

.title-green {
  color: var(--green);
}

header {
  height: calc(100vh - 65px);
  display: flex;
  align-items: center;
}

header .container {
  width: 50%;
  padding: 0 100px;
  height: fit-content;
}

header .container .logo {
  display: none;
}

header .container h1 {
  color: var(--green);
}

header .container button {
  margin-top: 40px;
}

nav {
  height: 65px;
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  position: sticky;
  top: 0;
  background: var(--bg-dark);
}

.logo {
  width: fit-content;
  border-left: 4px solid var(--purple);
  padding: 8px 0 8px 10px;
  font-size: 24px;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav ul a {
  font-size: 24px;
  color: var(--green);
  text-decoration: none;
}

nav ul a svg {
  display: none;
}

.about-me {
  display: flex;
  padding: 100px;
}

.about-me .container {
  width: 50%;
  padding-right: 50px;
}

.about-me .img-container {
  width: 50%;
  text-align: center;
}

.about-me .img-container img {
  width: 60%;
}

/* RESPONSIVIDADE */

/* small desktop */
@media (max-width: 1000px) {
  header .container {
    width: 100%;
  }

  header .container {
  }

  nav {
    padding: 0 40px;
  }

  nav ul a {
    font-size: 18px;
  }
}

/* tablet */
@media (max-width: 767px) {
  header .container .logo {
    display: block;
    margin-bottom: 70px;
  }

  nav {
    display: flex;
    padding: 0 30px;
  }

  nav .logo {
    display: none;
  }

  nav ul {
    padding: 0;
  }

  nav ul a {
    font-size: 16px;
  }
}

/* celular */
@media (max-width: 480px) {
  header .container {
    padding: 0 32px;
  }

  nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 0 16px;
    top: unset;
  }

  nav ul a {
    font-size: 12px;
  }

  nav ul a svg {
    display: block;
    margin: 0 auto 10px;
  }
}
